# Review

1. Import `pandas` and load in the file called `gapminder_gdp_oceania.csv`

In [2]:
%%bash 
ls data/gap_data -F

ls: -F: No such file or directory
ls: data/gap_data: No such file or directory

In [4]:
import pandas as pd
df = pd.read_csv('gap_data/gapminder_gdp_oceania.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
country           2 non-null object
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12), object(1)
memory usage: 288.0+ bytes

1. Re-import the data, this time setting the `index_col` argument to the `country` variable.

In [6]:
df = pd.read_csv('gap_data/gapminder_gdp_oceania.csv', index_col='country')
df.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

1. Describe the variables and datatypes

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

- Do the same for the file `gapminder_gdp_americas.csv`

In [10]:
df_a = pd.read_csv('gap_data/gapminder_gdp_americas.csv', index_col= 'country')

In [11]:
df_a.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850

- Use `.iloc` to select the object in the `[0, 0]` position.  What does this value correspond to?

In [12]:
df_a.iloc[0, 0]

'Americas'

In [13]:
df_a.iloc[0:5, 0:2]

          continent  gdpPercap_1952
country
Argentina  Americas     5911.315053
Bolivia    Americas     2677.326347
Brazil     Americas     2108.944355
Canada     Americas    11367.161120
Chile      Americas     3939.978789

- Use `.loc` to select all rows containing the variable `Albania`

In [15]:
df_euro = pd.read_csv('gap_data/gapminder_gdp_europe.csv', index_col='country')

In [16]:
df_euro.loc['Albania', :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

- Use `.loc` to select all columns for the variable `gdpPercap_1952`

In [23]:
df_euro.loc['Albania':'Germany', 'gdpPercap_1952']
#df_euro.gdpPercap_1952

country
Albania                   1601.056136
Austria                   6137.076492
Belgium                   8343.105127
Bosnia and Herzegovina     973.533195
Bulgaria                  2444.286648
Croatia                   3119.236520
Czech Republic            6876.140250
Denmark                   9692.385245
Finland                   6424.519071
France                    7029.809327
Germany                   7144.114393
Name: gdpPercap_1952, dtype: float64

In [ ]:
df[['']]

- What does the following line of code do to the dataframe `data`:

```python 
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])
```

- Use the results of the above code and apply the `max()` method to the slice.

In [24]:
df_euro.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

- Select the rows of the dataframe where the variable `gdpPercap_1972` is greater than 13,000.  How many countries are there?

In [25]:
df_euro[df_euro['gdpPercap_1972'] > 13000].count()

gdpPercap_1952    13
gdpPercap_1957    13
gdpPercap_1962    13
gdpPercap_1967    13
gdpPercap_1972    13
gdpPercap_1977    13
gdpPercap_1982    13
gdpPercap_1987    13
gdpPercap_1992    13
gdpPercap_1997    13
gdpPercap_2002    13
gdpPercap_2007    13
dtype: int64

In [17]:
df_euro['gdpPercap_1972'].nlargest(5)

country
Switzerland    27195.11304
Norway         18965.05551
Denmark        18866.20721
Netherlands    18794.74567
Germany        18016.18027
Name: gdpPercap_1972, dtype: float64

In [18]:
df_euro.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, Albania to United Kingdom
Data columns (total 12 columns):
gdpPercap_1952    30 non-null float64
gdpPercap_1957    30 non-null float64
gdpPercap_1962    30 non-null float64
gdpPercap_1967    30 non-null float64
gdpPercap_1972    30 non-null float64
gdpPercap_1977    30 non-null float64
gdpPercap_1982    30 non-null float64
gdpPercap_1987    30 non-null float64
gdpPercap_1992    30 non-null float64
gdpPercap_1997    30 non-null float64
gdpPercap_2002    30 non-null float64
gdpPercap_2007    30 non-null float64
dtypes: float64(12)
memory usage: 4.3+ KB

- Are there any missing values?  Where?

In [27]:
df_euro.isnull().sum()

gdpPercap_1952    0
gdpPercap_1957    0
gdpPercap_1962    0
gdpPercap_1967    0
gdpPercap_1972    0
gdpPercap_1977    0
gdpPercap_1982    0
gdpPercap_1987    0
gdpPercap_1992    0
gdpPercap_1997    0
gdpPercap_2002    0
gdpPercap_2007    0
dtype: int64

- What does the following line of code do?

```python
mask_higher = data.apply(lambda x:x>x.mean())
```

In [19]:
mask_higher = df_euro.apply(lambda x:x>x.mean()).head()

In [20]:
mask_higher

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,False,False,False,False,False,False,False,False,False,False,False,False
Austria,True,True,True,True,True,True,True,True,True,True,True,True
Belgium,True,True,True,True,True,True,True,True,True,True,True,True
Bosnia and Herzegovina,False,False,False,False,False,False,False,False,False,False,False,False
Bulgaria,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
mask_higher = df_euro.apply(lambda x:x>x.mean())
df_euro[mask_higher]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,6137.076492,8842.598030,10750.721110,12834.60240,16661.62560,19749.42230,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.49270
Belgium,8343.105127,9714.960623,10991.206760,13149.04119,16672.14356,19117.97448,20979.84589,22525.56308,25575.57069,27561.19663,30485.88375,33692.60508
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,6876.140250,8256.343918,10136.867130,11399.44489,13108.45360,14800.16062,NaN,NaN,NaN,NaN,NaN,NaN
Denmark,9692.385245,11099.659350,13583.313510,15937.21123,18866.20721,20422.90150,21688.04048,25116.17581,26406.73985,29804.34567,32166.50006,35278.41874
Finland,6424.519071,7545.415386,9371.842561,10921.63626,14358.87590,15605.42283,18533.15761,21141.01223,20647.16499,23723.95020,28204.59057,33207.08440
France,7029.809327,8662.834898,10560.485530,12999.91766,16107.19171,18292.63514,20293.89746,22066.44214,24703.79615,25889.78487,28926.03234,30470.01670
Germany,7144.114393,10187.826650,12902.462910,14745.62561,18016.18027,20512.92123,22031.53274,24639.18566,26505.30317,27788.88416,30035.80198,32170.37442
Greece,NaN,NaN,NaN,NaN,12724.82957,NaN,NaN,NaN,17541.49634,NaN,22514.25480,27538.41188
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,7267.688428,9244.001412,10350.159060,13319.89568,15798.06362,19654.96247,23269.60750,26923.20628,25144.39201,28061.09966,31163.20196,36180.78919
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17558.81555,24521.94713,34077.04939,40675.99635
Italy,NaN,NaN,NaN,NaN,NaN,NaN,16537.48350,19207.23482,22013.64486,24675.02446,27968.09817,28569.71970
Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherlands,8941.571858,11276.193440,12790.849560,15363.25136,18794.74567,21209.05920,21399.46046,23651.32361,26790.94961,30246.13063,33724.75778,36797.93332
Norway,10095.421720,11653.973040,13450.401510,16361.87647,18965.05551,23311.34939,26298.63531,31540.97480,33965.66115,41283.16433,44683.97525,49357.19017
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Slovenia,NaN,NaN,NaN,NaN,NaN,15277.03017,17866.72175,18678.53492,NaN,NaN,NaN,25768.25759
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18603.06452,20445.29896,24835.47166,28821.06370
Sweden,8527.844662,9911.878226,12329.441920,15258.29697,17832.02464,18855.72521,20667.38125,23586.92927,23880.01683,25266.59499,29341.63093,33859.74835
Switzerland,14734.232750,17909.489730,20431.092700,22966.14432,27195.11304,26982.29052,28397.71512,30281.70459,31871.53030,32135.32301,34480.95771,37506.41907
Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,9979.508487,11283.177950,12477.177070,14142.85089,15895.11641,17428.74846,18232.42452,21664.78767,22705.09254,26074.53136,29478.99919,33203.26128

- How about this one?

```python
wealth_score = mask_higher.aggregate('sum',axis=1)/len(data.columns)
```

In [21]:
wealth_score = mask_higher.aggregate('sum',axis=1)/len(df_euro.columns)

- And finally:

```python
data.groupby(wealth_score).sum()
```

In [36]:
df_euro.groupby(wealth_score).sum()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,36916.854200,46110.918793,56850.065437,71324.848786,88569.346898,104459.358438,113553.768507,119649.599409,92380.047256,103772.937598,118590.929863,149577.357928
0.333333,16790.046878,20942.456800,25744.935321,33567.667670,45277.839976,53860.456750,59679.634020,64436.912960,67918.093220,80876.051580,102086.795210,122803.729520
0.500000,11807.544405,14505.000150,18380.449470,21421.846200,25377.727380,29056.145370,31914.712050,35517.678220,36310.666080,40723.538700,45564.308390,51403.028210
1.000000,104317.277560,127332.008735,149989.154201,178000.350040,215162.343140,241143.412730,263388.781960,296825.131210,315238.235970,346930.926170,385109.939210,427850.333420

Write an expression to find the Per Capita GDP of Serbia in 2007.

In [23]:
df_euro.loc['Serbia', 'gdpPercap_2007']

9786.534714


- What does the following code do?  Explain each line.

```python
first = pandas.read_csv('data/gap_data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')
```

In [ ]:
first = pandas.read_csv('data/gap_data/gapminder_all.csv', index_col='country')

second = first[first['continent'] == 'Americas']

third = second.drop('Puerto Rico')

fourth = third.drop('continent', axis = 1)

fourth.to_csv('result.csv')

Write an expression to find the following:

1. GDP per capita for all countries in 1982. *George*
2. GDP per capita for Denmark for all years. *Max*
3. GDP per capita for all countries for years after 1985. *Bo*
4. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952. *Kashish*

In [43]:
gap_all = pd.read_csv('data/gap_data/gapminder_all.csv', index_col='country')

In [44]:
gap_all[['gdpPercap_1982']].head()

              gdpPercap_1982
country
Algeria          5745.160213
Angola           2756.953672
Benin            1277.897616
Botswana         4551.142150
Burkina Faso      807.198586

In [46]:
gap_all.loc['Denmark', 'gdpPercap_1952': 'gdpPercap_2007']

gdpPercap_1952    9692.39
gdpPercap_1957    11099.7
gdpPercap_1962    13583.3
gdpPercap_1967    15937.2
gdpPercap_1972    18866.2
gdpPercap_1977    20422.9
gdpPercap_1982      21688
gdpPercap_1987    25116.2
gdpPercap_1992    26406.7
gdpPercap_1997    29804.3
gdpPercap_2002    32166.5
gdpPercap_2007    35278.4
Name: Denmark, dtype: object

In [50]:
gap_all.loc[:, 'gdpPercap_1992':'gdpPercap_2007']

,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,
Algeria,5023.216647,4797.295051,5288.040382,6223.367465
Angola,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,931.752773,946.294962,1037.645221,1217.032994
Burundi,631.699878,463.115148,446.403513,430.070692
Cameroon,1793.163278,1694.337469,1934.011449,2042.095240
Central African Republic,747.905525,740.506332,738.690607,706.016537
Chad,1058.064300,1004.961353,1156.181860,1704.063724
Comoros,1246.907370,1173.618235,1075.811558,986.147879
Congo Dem. Rep.,457.719181,312.188423,241.165877,277.551859
Congo Rep.,4016.239529,3484.164376,3484.061970,3632.557798
Cote d'Ivoire,1648.073791,1786.265407,1648.800823,1544.750112
Djibouti,2377.156192,1895.016984,1908.260867,2082.481567
Egypt,3794.755195,4173.181797,4754.604414,5581.180998
Equatorial Guinea,1132.055034,2814.480755,7703.495900,12154.089750
Eritrea,582.858510,913.470790,765.350001,641.369524
Ethiopia,421.353465,515.889401,530.053532,690.805576
Gabon,13522.157520,14722.841880,12521.713920,13206.484520
Gambia,665.624413,653.730170,660.585600,752.749726
Ghana,925.060154,1005.245812,1111.984578,1327.608910
Guinea,794.348438,869.449767,945.583584,942.654211
Guinea-Bissau,745.539871,796.664468,575.704718,579.231743
Kenya,1341.921721,1360.485021,1287.514732,1463.249282
Lesotho,977.486272,1186.147994,1275.184575,1569.331442
Liberia,636.622919,609.173951,531.482368,414.507341
Libya,9640.138501,9467.446056,9534.677467,12057.499280
Madagascar,1040.676190,986.295896,894.637082,1044.770126
Malawi,563.200014,692.275810,665.423119,759.349910
Mali,739.014375,790.257985,951.409752,1042.581557
...,...,...,...,...
Belgium,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,26406.739850,29804.345670,32166.500060,35278.418740
Finland,20647.164990,23723.950200,28204.590570,33207.084400
France,24703.796150,25889.784870,28926.032340,30470.016700
Germany,26505.303170,27788.884160,30035.801980,32170.374420
Greece,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,17558.815550,24521.947130,34077.049390,40675.996350
Italy,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,26790.949610,30246.130630,33724.757780,36797.933320
Norway,33965.661150,41283.164330,44683.975250,49357.190170
Poland,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,16207.266630,17641.031560,19970.907870,20509.647770
Romania,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,14214.716810,17161.107350,20660.019360,25768.257590
Spain,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,22705.092540,26074.531360,29478.999190,33203.261280
Australia,23424.766830,26997.936570,30687.754730,34435.367440
New Zealand,18363.324940,21050.413770,23189.801350,25185.009110

In [51]:
gap_all['gdp_mult'] = gap_all.gdpPercap_2007 / gap_all.gdpPercap_1952
gap_all.gdp_mult.head()

country
Algeria          2.541179
Angola           1.362614
Benin            1.356182
Botswana        14.766499
Burkina Faso     2.240260
Name: gdp_mult, dtype: float64

### Loops and Data Sets

In [1]:
import pandas as pd

In [4]:
for file in ['data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_asia.csv']:
    data = pd.read_csv(file, index_col='country')
    print(file, data.min())

data/gap_data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
data/gap_data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64

### Using `glob.glob` to load files

In Unix, the term “globbing” means “matching a set of files with a pattern”.
The most common patterns are:
- \* meaning “match zero or more characters”
- ? meaning “match exactly one character”

Python contains the glob library to provide pattern matching functionality
The glob library contains a function also called glob to match file patterns E.g., glob.glob('\*.txt') matches all files in the current directory whose names end with .txt.
Result is a (possibly empty) list of character strings.

In [53]:
import glob
print('all csv files in data directory:', glob.glob('data/gap_data/*.csv'), '\n')

all csv files in data directory: ['data/gap_data/gapminder_all.csv', 'data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_americas.csv', 'data/gap_data/gapminder_gdp_asia.csv', 'data/gap_data/gapminder_gdp_europe.csv', 'data/gap_data/gapminder_gdp_oceania.csv']

In [54]:
for filename in glob.glob('data/gap_data/gapminder_*.csv'):
    data = pd.read_csv(filename)
    print(filename, data['gdpPercap_1952'].min())

data/gap_data/gapminder_all.csv 298.8462121
data/gap_data/gapminder_gdp_africa.csv 298.8462121
data/gap_data/gapminder_gdp_americas.csv 1397.7171369999999
data/gap_data/gapminder_gdp_asia.csv 331.0
data/gap_data/gapminder_gdp_europe.csv 973.5331947999999
data/gap_data/gapminder_gdp_oceania.csv 10039.595640000001

**PROBLEM**


Which of these files is not matched by the expression glob.glob('data/gap_data/\*as\*.csv')?

1. `data/gapminder_gdp_africa.csv`
2. `data/gapminder_gdp_americas.csv`
3. `data/gapminder_gdp_asia.csv`
4. 1 and 2 are not matched.

### Writing Functions

In [55]:
def hi_there(name):
    print('Hi there', name)

In [56]:
hi_there('Steve')

Hi there Steve

Using `return` in functions:

Use return ... to give a value back to the caller.
May occur anywhere in the function.
But functions are easier to understand if return occurs:
- At the start to handle special cases.
- At the very end, with a final result.

In [57]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [60]:
average([3, 4, 5])

4.0

**PROBLEM**


Fill in the blanks to create a function that takes a single filename as an argument, loads the data in the file named by the argument, and returns the minimum value in that data

```python
import pandas

def min_in_data(____):
    data = ____
    return ____
```

In [61]:
def min_in_data(filepath):
    data = pd.read_csv(filepath)
    return data.min()

In [62]:
min_in_data('data/gap_data/gapminder_all.csv')

continent              Africa
country           Afghanistan
gdpPercap_1952        298.846
gdpPercap_1957        335.997
gdpPercap_1962        355.203
gdpPercap_1967            349
gdpPercap_1972            357
gdpPercap_1977            371
gdpPercap_1982            424
gdpPercap_1987            385
gdpPercap_1992            347
gdpPercap_1997        312.188
gdpPercap_2002        241.166
gdpPercap_2007        277.552
lifeExp_1952           28.801
lifeExp_1957           30.332
lifeExp_1962           31.997
lifeExp_1967            34.02
lifeExp_1972             35.4
lifeExp_1977            31.22
lifeExp_1982           38.445
lifeExp_1987           39.906
lifeExp_1992           23.599
lifeExp_1997           36.087
lifeExp_2002           39.193
lifeExp_2007           39.613
pop_1952                60011
pop_1957                61325
pop_1962                65345
pop_1967                70787
pop_1972                76595
pop_1977                86796
pop_1982                98593
pop_1987               110812
pop_1992               125911
pop_1997               145608
pop_2002               170372
pop_2007               199579
dtype: object

**PROBLEM**

Assume the code below has been executed:

```python
import pandas as pd

df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
```

- Complete the statements below to obtain the average GDP for Japan across the years reported for the 1980s.

```python
year = 1983
gdp_decade = 'gdpPercap_' + str(year // ____)
avg = (japan.loc[gdp_decade + ___] + japan.loc[gdp_decade + ___]) / 2
```


- Abstract the code above into a single function.

```python
def avg_gdp_in_decade(country, continent, year):
    df = pandas.read_csv('data/gapminder_gdp_'+___+'.csv',delimiter=',',index_col=0)
    ____
    ____
    ____
    return avg
```

In [76]:
df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
year = 1983
gdp_decade = 'gdpPercap_' + str(year // 10)
avg = (japan.loc[gdp_decade + '2'] + japan.loc[gdp_decade + '7']) / 2

In [86]:
def eighties_avg(filepath, country):
    df = pd.read_csv(filepath, index_col=0)
    c = df.loc[country]
    year = 1983
    gdp_decade = 'gdpPercap_' + str(year // 10)
    avg = (c.loc[gdp_decade + '2'] + c.loc[gdp_decade + '7']) / 2
    print('The average in the 80s for ', country, 'was', avg)
    return avg

In [87]:
eighties_avg('data/gap_data/gapminder_gdp_asia.csv', 'Afghanistan')

The average in the 80s for  Afghanistan was 915.2036918

915.2036918

In [67]:
str(year // 10)

1983

In [68]:
year / 10

198.3

In [72]:
str(year // 10) + '2'

'1982'