# Review

1. Import `pandas` and load in the file called `gapminder_gdp_oceania.csv`

In [3]:
%%bash 
ls data/gap_data

data/gap_data:
gapminder_all.csv
gapminder_gdp_africa.csv
gapminder_gdp_americas.csv
gapminder_gdp_asia.csv
gapminder_gdp_europe.csv
gapminder_gdp_oceania.csv

ls: -F: No such file or directory

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gap_data/gapminder_gdp_oceania.csv')

1. Re-import the data, this time setting the `index_col` argument to the `country` variable.

In [3]:
df = pd.read_csv('gap_data/gapminder_gdp_oceania.csv', index_col='country')

In [4]:
df

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

1. Describe the variables and datatypes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

- Do the same for the file `gapminder_gdp_americas.csv`

In [8]:
america = pd.read_csv('gap_data/gapminder_gdp_americas.csv', index_col = 'country')

In [9]:
america.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, Argentina to Venezuela
Data columns (total 13 columns):
continent         25 non-null object
gdpPercap_1952    25 non-null float64
gdpPercap_1957    25 non-null float64
gdpPercap_1962    25 non-null float64
gdpPercap_1967    25 non-null float64
gdpPercap_1972    25 non-null float64
gdpPercap_1977    25 non-null float64
gdpPercap_1982    25 non-null float64
gdpPercap_1987    25 non-null float64
gdpPercap_1992    25 non-null float64
gdpPercap_1997    25 non-null float64
gdpPercap_2002    25 non-null float64
gdpPercap_2007    25 non-null float64
dtypes: float64(12), object(1)
memory usage: 2.7+ KB

- Use `.iloc` to select the object in the `[0, 0]` position.  What does this value correspond to?

In [10]:
america.iloc[0, 0]

'Americas'

In [11]:
america.head(2)

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084

- Use `.loc` to select all rows containing the variable `Albania`

In [17]:
america.loc['Peru', :]

continent         Americas
gdpPercap_1952     3758.52
gdpPercap_1957     4245.26
gdpPercap_1962     4957.04
gdpPercap_1967     5788.09
gdpPercap_1972     5937.83
gdpPercap_1977     6281.29
gdpPercap_1982      6434.5
gdpPercap_1987     6360.94
gdpPercap_1992     4446.38
gdpPercap_1997     5838.35
gdpPercap_2002     5909.02
gdpPercap_2007     7408.91
Name: Peru, dtype: object

In [20]:
america.loc['Peru', 'gdpPercap_2002': ]

gdpPercap_2002    5909.02
gdpPercap_2007    7408.91
Name: Peru, dtype: object

- Use `.loc` to select all columns for the variable `gdpPercap_1952`

In [21]:
america.loc[:, 'gdpPercap_1952']

country
Argentina               5911.315053
Bolivia                 2677.326347
Brazil                  2108.944355
Canada                 11367.161120
Chile                   3939.978789
Colombia                2144.115096
Costa Rica              2627.009471
Cuba                    5586.538780
Dominican Republic      1397.717137
Ecuador                 3522.110717
El Salvador             3048.302900
Guatemala               2428.237769
Haiti                   1840.366939
Honduras                2194.926204
Jamaica                 2898.530881
Mexico                  3478.125529
Nicaragua               3112.363948
Panama                  2480.380334
Paraguay                1952.308701
Peru                    3758.523437
Puerto Rico             3081.959785
Trinidad and Tobago     3023.271928
United States          13990.482080
Uruguay                 5716.766744
Venezuela               7689.799761
Name: gdpPercap_1952, dtype: float64

- What does the following line of code do to the dataframe `data`:

```python 
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])
```

In [23]:
print(america.loc['Brazil':'Peru', 'gdpPercap_1962':'gdpPercap_1972'].max())

gdpPercap_1962    13462.48555
gdpPercap_1967    16076.58803
gdpPercap_1972    18970.57086
dtype: float64

- Use the results of the above code and apply the `max()` method to the slice.

- Select the rows of the dataframe where the variable `gdpPercap_1972` is greater than 13,000.  How many countries are there?

- Are there any missing values?  Where?

- What does the following line of code do?

```python
mask_higher = data.apply(lambda x:x>x.mean())
```

- How about this one?

```python
wealth_score = mask_higher.aggregate('sum',axis=1)/len(data.columns)
```

- And finally:

```python
data.groupby(wealth_score).sum()
```

Write an expression to find the Per Capita GDP of Serbia in 2007.


- What does the following code do?  Explain each line.

```python
first = pandas.read_csv('data/gap_data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')
```

Write an expression to find the following:

1. GDP per capita for all countries in 1982. *George*
2. GDP per capita for Denmark for all years. *Max*
3. GDP per capita for all countries for years after 1985. *Bo*
4. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952. *Kashish*

### Loops and Data Sets

In [1]:
import pandas as pd

In [4]:
for file in ['data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_asia.csv']:
    data = pd.read_csv(file, index_col='country')
    print(file, data.min())

data/gap_data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
data/gap_data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64

### Using `glob.glob` to load files

In Unix, the term “globbing” means “matching a set of files with a pattern”.
The most common patterns are:
- \* meaning “match zero or more characters”
- ? meaning “match exactly one character”

Python contains the glob library to provide pattern matching functionality
The glob library contains a function also called glob to match file patterns E.g., glob.glob('\*.txt') matches all files in the current directory whose names end with .txt.
Result is a (possibly empty) list of character strings.

In [53]:
import glob
print('all csv files in data directory:', glob.glob('data/gap_data/*.csv'), '\n')

all csv files in data directory: ['data/gap_data/gapminder_all.csv', 'data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_americas.csv', 'data/gap_data/gapminder_gdp_asia.csv', 'data/gap_data/gapminder_gdp_europe.csv', 'data/gap_data/gapminder_gdp_oceania.csv']

In [54]:
for filename in glob.glob('data/gap_data/gapminder_*.csv'):
    data = pd.read_csv(filename)
    print(filename, data['gdpPercap_1952'].min())

data/gap_data/gapminder_all.csv 298.8462121
data/gap_data/gapminder_gdp_africa.csv 298.8462121
data/gap_data/gapminder_gdp_americas.csv 1397.7171369999999
data/gap_data/gapminder_gdp_asia.csv 331.0
data/gap_data/gapminder_gdp_europe.csv 973.5331947999999
data/gap_data/gapminder_gdp_oceania.csv 10039.595640000001

**PROBLEM**


Which of these files is not matched by the expression glob.glob('data/gap_data/\*as\*.csv')?

1. `data/gapminder_gdp_africa.csv`
2. `data/gapminder_gdp_americas.csv`
3. `data/gapminder_gdp_asia.csv`
4. 1 and 2 are not matched.

### Writing Functions

In [55]:
def hi_there(name):
    print('Hi there', name)

In [56]:
hi_there('Steve')

Hi there Steve

Using `return` in functions:

Use return ... to give a value back to the caller.
May occur anywhere in the function.
But functions are easier to understand if return occurs:
- At the start to handle special cases.
- At the very end, with a final result.

In [57]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [60]:
average([3, 4, 5])

4.0

**PROBLEM**


Fill in the blanks to create a function that takes a single filename as an argument, loads the data in the file named by the argument, and returns the minimum value in that data

```python
import pandas

def min_in_data(____):
    data = ____
    return ____
```

In [61]:
def min_in_data(filepath):
    data = pd.read_csv(filepath)
    return data.min()

In [62]:
min_in_data('data/gap_data/gapminder_all.csv')

continent              Africa
country           Afghanistan
gdpPercap_1952        298.846
gdpPercap_1957        335.997
gdpPercap_1962        355.203
gdpPercap_1967            349
gdpPercap_1972            357
gdpPercap_1977            371
gdpPercap_1982            424
gdpPercap_1987            385
gdpPercap_1992            347
gdpPercap_1997        312.188
gdpPercap_2002        241.166
gdpPercap_2007        277.552
lifeExp_1952           28.801
lifeExp_1957           30.332
lifeExp_1962           31.997
lifeExp_1967            34.02
lifeExp_1972             35.4
lifeExp_1977            31.22
lifeExp_1982           38.445
lifeExp_1987           39.906
lifeExp_1992           23.599
lifeExp_1997           36.087
lifeExp_2002           39.193
lifeExp_2007           39.613
pop_1952                60011
pop_1957                61325
pop_1962                65345
pop_1967                70787
pop_1972                76595
pop_1977                86796
pop_1982                98593
pop_1987               110812
pop_1992               125911
pop_1997               145608
pop_2002               170372
pop_2007               199579
dtype: object

**PROBLEM**

Assume the code below has been executed:

```python
import pandas as pd

df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
```

- Complete the statements below to obtain the average GDP for Japan across the years reported for the 1980s.

```python
year = 1983
gdp_decade = 'gdpPercap_' + str(year // ____)
avg = (japan.loc[gdp_decade + ___] + japan.loc[gdp_decade + ___]) / 2
```


- Abstract the code above into a single function.

```python
def avg_gdp_in_decade(country, continent, year):
    df = pandas.read_csv('data/gapminder_gdp_'+___+'.csv',delimiter=',',index_col=0)
    ____
    ____
    ____
    return avg
```

In [76]:
df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
year = 1983
gdp_decade = 'gdpPercap_' + str(year // 10)
avg = (japan.loc[gdp_decade + '2'] + japan.loc[gdp_decade + '7']) / 2

In [86]:
def eighties_avg(filepath, country):
    df = pd.read_csv(filepath, index_col=0)
    c = df.loc[country]
    year = 1983
    gdp_decade = 'gdpPercap_' + str(year // 10)
    avg = (c.loc[gdp_decade + '2'] + c.loc[gdp_decade + '7']) / 2
    print('The average in the 80s for ', country, 'was', avg)
    return avg

In [87]:
eighties_avg('data/gap_data/gapminder_gdp_asia.csv', 'Afghanistan')

The average in the 80s for  Afghanistan was 915.2036918

915.2036918

In [67]:
str(year // 10)

1983

In [68]:
year / 10

198.3

In [72]:
str(year // 10) + '2'

'1982'